
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    text-align: center;
    background-image: linear-gradient(120deg, rgb(80, 187, 213), rgb(208, 65, 221));
}   

.todo-heading {
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.todo-input {
    height: 1.7rem;
    width: 15rem;
    border-radius: 10px;
    border: 1px solid  gray;
}

